.connection-card {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  color: #333;
  padding: 10px 20px;
  box-shadow: 1px 1px 7.5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 5px;
}

.connection-card > p {
  font-size: 0.75rem;
}

.connection-card h3 {
  color: var(--sql-blue);
}

.connection-card-list {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
